.feature-card {
  $self: &;

  display: flex;
  flex-direction: column;

  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #ffffff;

  &:hover {
    #{$self}__header {
      color: #007bff;
      text-decoration: underline;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__info {
    color: #262626;
    padding: 1rem 1rem;
  }

  &__header {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;

    margin: 0;
  }

  &__description {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;

    margin: auto 0 0 0;

    padding-top: 1rem;
    padding-bottom: 0.5rem;

    font-size: 0.8125rem;
    font-weight: 300;
    color: #262626;
  }
}

.favorite-btn {
  position: absolute;
  width: 1.5rem;
  height: 2rem;
  right: 1rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 0 0 1rem 1rem;
  border: none;
  z-index: 2;
  padding: 0.25rem 0 0 0;
}
